@font-face {
  font-family: "Lato", sans-serif;
  src: url(../Fonts/Lato-Thin.ttf);
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Lato", sans-serif;
  src: url(../Fonts/Lato-Light.ttf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Lato", sans-serif;
  src: url(../Fonts/Lato-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato", sans-serif;
  src: url(../Fonts/Lato-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Lato", sans-serif;
  src: url(../Fonts/Lato-Black.ttf);
  font-weight: 900;
  font-style: normal;
}